[Unit]
Description=Redis container
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker run -d -p 80:80 nginx
ExecStop=/usr/bin/docker stop -t 2 ngin

[Install]
WantedBy=default.target